@use "../variables" as *;

.article {
  &--profile {
    width: 32%;
    margin-right: 17px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &--read {
      opacity: 0.7;
    } 
}

@media (max-width: $tablet-width) {
  .article {
    &--profile {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .article {
    &--profile {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
}
