@use "../variables" as *;

.attention {
  min-width: 1280px;
  background-color: #2C3D52;
  color: #fff;

  .container {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    line-height: 1;
    display: block;
    height: 40px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background: #fe4349;
    text-transform: uppercase;
    text-align: center;
    &--sign {
      display: none;
    }
  }

  &__news {
    padding: 0;
    font-size: 16px;
    margin-left: 25px;
    margin-right: auto;
    white-space: nowrap;
  }
}

@media (max-width: $tablet-width) {
  .attention {
    min-width: 100%;
    font-size: 14px;

    &__label {
      font-size: 16px;
      line-height: 1.2;
      padding: 10px 13px;
    }

    &__news {
      margin-left: 15px;
    }
  }
}

@media (max-width: $mobile-width) {
  .attention {
    .container {
      padding: 0;
    }
    
    &__label {
      display: none;

      &--sign {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
    }
    
    &__news {
      white-space: normal;
      font-size: 10px;
    }
    
    .button--close {
      margin-right: 10px;
    }
  }
}
