@use "../variables" as *;
@use "../mixins.scss" as *;

.burger-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 335px;
  height: 100vh;
  flex-basis: 100%;
  overflow-y: scroll;
  z-index: 100;

  .button--dark-close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__wrapper-top {
    flex-shrink: 0;
  }

  &__wrapper-bottom {
    margin-top: 30px;
    padding: 0 20px;
  }

  .logo {
    padding: 47px 23px;
    background: #f4f4f4;
  }

  &__list {
    @include list;
  }

  &__item {
    &--gap {
      padding-bottom: 40px;
      background: #f4f4f4;
    }
  }

  &__link {
    display: block;
    padding: 12px 23px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #2C3D52;

    svg {
      fill: #2C3D52;
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      color: #7E8793;
      background: #F4F4F4;
      transition: background 0.4s;
    }

    &:active {
      color: #2C3D52;
    }

    &--grey {
      background: #f4f4f4;

      &:hover,
      &:focus {
        color: #f4f4f4;
        background: #2C3D52;
        transition: background 0.4s;

        svg {
          fill: #f4f4f4;
        }
      }

      &:active {
        color: #7E8793;
        transition: background 0.4s;

        svg {
          fill: #7E8793;
        }
      }
    }

    &--active {
      color: #7E8793;

      &:hover,
      &:focus,
      &:active {
        color: #7E8793;
        background: none;
      }
    }
  }
  
  &--inner {
    padding-top: 43px;
  }
}

@media (max-width: $tablet-width) {
  .burger-panel {
    &__wrapper-bottom {
      padding-bottom: 180px;
    }
  }
}

@media (max-width: $mobile-width) {
  .burger-panel {
    width: 100%;
    height: 100vh;

    &__wrapper-bottom {
      padding-bottom: 200px;
    }
  }
}
