@use "../variables" as *;

.coard {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.03);
  border-top: 2px solid #2C3D52;
  position: relative;

  &__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -60px;
    left: 150px;
    box-shadow: 0px 10px 20px rgba(36, 109, 198, 0.1);
    overflow: hidden
  }

  &__left {
    width: 40%;
    flex-grow: 1;
    margin-left: 150px;
    margin-top: 80px;
    padding-right: 15px;
  }

  &__right {
    width: 60%;
    height: 323px;
    flex-shrink: 0;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    color: #0C2F59;
  }

  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    line-height: normal;
    color: #9A9A9A;
  }
}

@media (max-width: $tablet-width) {
  .coard {
    &__left {
      margin-left: 45px;
    }
    
    &__logo {
      left: 45px;
    }

    &__title {
      font-size: 18px;
      line-height: 1.2;
    }

    &__text {
      font-size: 13px;
      line-height: 1.2;
    }
  }
}

@media (max-width: $mobile-width) {
  .coard {
    flex-wrap: wrap;

    &__logo {
      width: 50px;
      height: 50px;
      top: -25px;
      left: 15px;
    }

    &__left {
      flex-shrink: 0;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
      margin-top: 45px;
    }

    &__right {
      width: 100%;
      height: 210px;
      overflow: hidden;
    }
  }
}
