@use "../variables" as *;

.competition-item-pos-2 {
  text-align: center;

  &__title {
    padding-top: 120px;
    margin: 0;
    font-size: 100px;
    line-height: 128px;
  }

  &__description {
    width: 507px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px;
  }

  .tag {
    position: absolute;
    top: 100px;
    left: 235px;
  }
}

@media (max-width: $tablet-width) {
  .competition-item-pos-2 {
    text-align: left;

    &__title {
      font-size: 40px;
      line-height: 1.2;
    }

    &__description {
      margin: 20px 0;
    }

    .tag {
      top: 60px;
      left: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .competition-item-pos-2 {
    .container {
      background-position: center, center right -100px;
    }

    &__title {
      font-size: 21px;
      line-height: 1.2;
      width: 260px;
      padding-top: 110px;
    }

    &__description {
      font-size: 15px;
      line-height: 1.2;
      width: 260px;
    }

  }
}
