@use "../variables" as *;

.competition-item-pos-4 {
  position: relative;

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 75px;
    line-height: 1.2;
    max-width: 935px;
    padding-top: 150px;
  }

  &__description {
    padding-top: 20px;
    font-size: 22px;
    line-height: 28px;
    max-width: 925px;
  }

  .tag {
    position: absolute;
    top: 100px;
    left: 50px
  }
}

@media (max-width: $tablet-width) {
  .competition-item-pos-4 {
    &__title {
      font-size: 40px;
      line-height: 1.2;
      width: 500px;
    }

    &__description {
      width: 500px;
    }

    .tag {
      left: 15px;
    }

  }
}

@media (max-width: $mobile-width) {
  .competition-item-pos-4 {
    &__title {
      font-size: 21px;
      line-height: 1.2;
      width: 260px;
      padding-top: 110px;
    }

    &__description {
      font-size: 15px;
      line-height: 1.2;
      width: 260px;
    }

    .tag {
      top: 60px;
    }
  }
}
