@use "../variables" as *;

.competition-item-pos-3 {
  background-position-x: -250px;
  background-color: #BCC8D4;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    width: 507px;
    padding-top: 140px;
    margin: 0;
    font-size: 70px;
    line-height: 77px;
    color: #2F5788;
  }

  &__description {
    width: 507px;
    font-size: 22px;
    line-height: 28px;
    color: #2C3D52;
  }

  .tag {
    position: absolute;
    top: 100px;
    left: calc(100% - 520px);
  }
}

@media (max-width: $tablet-width) {
  .competition-item-pos-3 {
    background-position-x: 105px;

    .container {
      align-items: flex-start;
    }

    &__title {
      font-size: 40px;
      line-height: 1.2;
    }


    .tag {
      left: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .competition-item-pos-3 {
    background-position-x: left;

    &__title {
      font-size: 21px;
      line-height: 1.2;
      width: 260px;
      padding-top: 110px;
    }

    &__description {
      font-size: 15px;
      line-height: 1.2;
      width: 260px;
    }

    .tag {
      top: 60px;
    }
  }
}
