@use "../variables" as *;

.currency {
  display: flex;
  font-size: 14px;

  &__text {
    margin-right: 12px;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: $mobile-width) {
      display: none;  
    }
  }
  
  &__dollar {
    color: #2CB393;
    margin-right: 16px;
    padding-right: 10px;
    padding-left: 20px;
    background-image: url("../img/icon-arrow-green.svg");
    background-repeat: no-repeat;
    background-position:  right center;
    position: relative;

    @media (max-width: $mobile-width) {
      padding-left: 0;
      padding-top: 16px;
      margin-right: 11px;
      margin-left: 18px;
      background-position:  right bottom;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__dollar::after,
  &__euro::after {
      content: "";
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 14px;
      border: 1px solid #48484C;
      border-radius: 100%;

      @media (max-width: $mobile-width) {
        right: 0;
        top: 0;
        margin: 0 10px;
      }
  }

  &__dollar::after {
    background-image: url("../img/icon-dollar.svg");
    background-position: 4px;
  }

  &__euro::after {
    background-image: url("../img/icon-euro.svg");
    background-position: 3px 3px;
  }
  
  &__euro {
    color: #FE4349;
    padding-right: 10px;
    background-image: url("../img/icon-arrow-red.svg");
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    padding-left: 20px;

    @media (max-width: $mobile-width) {
      padding-left: 0;
      padding-top: 16px;
      background-position:  right bottom;
      font-size: 12px;
      line-height: 15px;
    }
  }
}