@use "../variables" as *;

.form {
  padding: 12px 32px;
  background: #fff;
  border: 1px solid #E2E2E2;
  margin-bottom: 20px;

  &__for-flex {
    display: flex;
    position: relative;
    
    &::before {
      content: "";
      width: 1px;
      background: #E2E2E2;
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
    }
  }

  &__left-column {
    width: calc(50% - 32px);
    flex-grow: 1;
    padding-right: 32px;
  }

  &__right-column {
    width: calc(50% - 32px);
    flex-grow: 1;
    padding-left: 32px;
    
    &--flex {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .profile-form--dark {
        margin-top: auto;
        margin-bottom: 20px;
      }
    }
  }
  
  &__link {
    font-weight: 500;
    color: #2C3D52;

    &:hover {
      text-decoration: none;
    }
  }
  
  &--dark {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  &--forum {
    border: none;
  }
}

@media (max-width: $tablet-width) {
  .form {
    &__for-flex {
      flex-direction: column;
      
      &::before {
        position: static;
        width: 1px;
        height: 1px;
        background: transparent;
      }
    }
    
    &__left-column {
      width: 100%;
      padding-right: 0;
    }
    
    &__right-column {
      width: 100%;
      padding-left: 0;
    }
    
    &--dark {
      width: 100%;
    }
  }
}