.users-photo {
  position: relative;
  display: inline-block;
  width: 103px;
  height: 109px;
  margin: 8px 16px 8px 0;
}

.img-thumbnail {
  width: 103px;
  height: 109px;
  object-fit: cover;
}

.delete-photo {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  
  &::before {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #6B7786;
    position: absolute;
    top: calc(50% - 1px);
    right: calc(50% - 5px);
    transform: rotate(45deg);
  }
  
  &::after {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #6B7786;
    position: absolute;
    top: calc(50% - 1px);
    right: calc(50% - 5px);
    transform: rotate(-45deg);
  }
  
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
