@use "../variables" as *;

.rubric .slick-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 15px;
    height: 160px;
    z-index: 3;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: calc(50% - 10px);
        left: 0;
        width: 15px;
        height: 20px;
        background-image: url("../img/icon-arrow-left-slider.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.rubric .slick-next {
    top: 50%;
    right: 10px;
    width: 15px;
    height: 160px;
    z-index: 3;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: calc(50% - 10px);
        right: 0;
        width: 15px;
        height: 20px;
        background-image: url("../img/icon-arrow-right-slider.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.rubric {
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 20px;
    }
    @media (max-width: $mobile-width) {
        .slick-next,
        .slick-prev {
            display: none !important;
        }
    }
}

.rubric--inner {
    .slick-prev {
        left: 5px;
    }
    .slick-next {
        right: 5px;
    }
}

.review {
    .slick-prev {
        left: -30px;
        filter: brightness(50%);
    }
    .slick-next {
        right: -30px;
        filter: brightness(50%);
    }
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    content: "";
    background: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    content: "";
    background: #fff;
    opacity: 1;
}

.photorep-slider .slick-prev,
.photorep-slider .slick-next {
    background-color: rgba(0, 0, 0, .3);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.photorep-slider .slick-prev:before {
    left: 8px;
}

.photorep-slider .slick-next:before {
    right: 8px;
}

@media (max-width: $tablet-width) {
    .rubric {
        .slick-prev::before {
            width: 9px;
            height: 15px;
        }
        .slick-next::before {
            width: 9px;
            height: 15px;
        }
    }
}

@media (max-width: $tablet-width-portret) {
    .review {
        .slick-prev {
            left: 7px;
        }
        .slick-next {
            right: 7px;
        }
    }
}