.headhesive {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  opacity: 0;
}

.headhesive--stick {
  transform: translateY(0);
  z-index: 55;
  opacity: 1;
  transition: opacity 0.3s;
}
