.hide {
  display: none !important;
}

.visually-hide {
	visibility: hidden;
}

.emojionearea.focused {
	box-shadow: none;
	border: 1px solid #2c3d52;
}

.vk-widget {
	padding-top: 20px;
}

.grecaptcha-badge {
	display: none !important;
}