@use "../variables" as *;

.logo {
  &__link {
    display: block;
  }

  &--header {
    @media (max-width: $tablet-width) {
      max-width: 150px;
    }

    @media (max-width: $mobile-width) {
      max-width: 120px;
    }
  }

}