@use "../variables" as *;

.main-header {
  min-width: 1280px;
  background: #fff;
  box-shadow: 3px 3px 6px rgba(166, 172, 182, 0.25);
  border-bottom: 1px solid #D8D8D8;

  @media (max-width: $mobile-width) {
    padding: 0;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  &__left {
    display: flex;
    align-items: center;
  }
  
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: $tablet-width) {
  .main-header {
    min-width: 100%;
  }
}