.menu-city {
  display: none;
  background-color: #696b6de6;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  padding: 0;

  &__wrap {
    max-width: 1000px;
    background: #fff;
    z-index: 10;
    padding: 29px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow: hidden;
    border-radius: 10px;
  }

  &__btn-close {
    z-index: 10000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }

  &__title {
    margin-left: 24px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px 5px 0;
    height: 30px;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    text-decoration: none;
    margin-top: 15px;
    padding-left: 0;
  }

  &__item {
    width: 150px;
    margin-left: 24px;
    margin-top: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  &__item > a {
    display: block;
    text-decoration: none;
    color: rgb(13, 74, 241);
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
  }

  &__btn-close a::before {
    content: '';
    position: absolute;
    background-image: url('../img/icon-close-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    right: 5px;
    width: 40px;
    height: 40px;
  }

  @media (max-width: 450px) {
    &__title {
      font-size: 18px;
    }
  }

  .fancybox-button {
    display: none;
  }
}
