@use "../variables" as *;

.modal {
	display: none;
	width: 710px;
	max-width: 710px;
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	color: #2C3D52;

	&__title {
		font-weight: bold;
		font-size: 14px;
		color: #2C3D52;
		text-transform: uppercase;
	}

	&__wrapper {
		padding: 40px 120px;
	}

	&__password-btn {
		position: absolute;
		bottom: 19px;
		right: 1px;
		width: 40px;
		height: 37px;
		border: 0;
		background: url("../img/icon-eye-off.svg") no-repeat center;
		cursor: pointer;
		outline: 0;
	}

	&__password-btn-open {
		background: url("../img/icon-eye-on.svg") no-repeat center;
	}

	&--button {
		margin: 20px auto;
	}

	&--card {
		font-size: 17px;
		line-height: 1.2;
		text-align: left;
		color: #000;
	}

	&__top {
		display: flex;
		align-items: center;
		padding: 20px 50px;
		border-bottom: 1px solid rgba(44, 61, 82, 0.2);
	}

	&__image-wrapper {
		flex-shrink: 0;
		width: 120px;
		height: 120px;
		margin-right: 40px;
		overflow: hidden;
		border-radius: 50%;
	}

	&__head {
		font-size: 19px;
		line-height: 1.2;
		font-weight: bold;
		color: #2C3D52;
	}

	&__likes {
		position: static;
		display: block;
		margin: 20px 50px;
	}

	&__bottom {
		border-top: 1px solid rgba(44, 61, 82, 0.2);
	}

	&__align-left {
		margin: 20px 0;
		text-align: left;
	}

	.file-wrapper {
		margin: 0;
	}
}


.modal-enter {
	
	min-height: 455px;

	&__form {
		min-height: 455px;
		display: flex;
		flex-direction: column;
	}

	&__registration {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__buttons {
		border-bottom: 1px solid rgba(44, 61, 82, 0.2);
		padding: 10px;
		padding-bottom: 0;
	}

	&__button {
		font-size: 14px;
		color: #2C3D52;
		text-transform: uppercase;
		font-weight: bold;
		padding: 10px 70px;
		margin-bottom: -1px;

		&--active {
			border-bottom: 2px solid #2C3D52;
		}
	}

	&__link-wrapper {
		text-align: right;
		margin: 10px 0 30px;
	}

	&__link {
		display: inline-block;
		color: #2C3D52;
		text-decoration: none;

		&:hover,
		&:focus {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.9;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		padding-bottom: 10px;
	}

	.social__link {
		width: 50px;
		height: 50px;
		background-color: transparent;

		&--vk::before {
			background-size: 40px;
		}

		&--fb::before {
			background-size: 15px;
		}

		&--odnk::before {
			background-size: 20px;
		}

		&--tw::before {
			background-size: 40px;
		}

		&--inst::before {
			background-size: 30px;
		}
	}

	.button--dark {
		width: calc(100% - 240px);
		margin-bottom: 70px;
	}
}

.modal-forget-password {
	&__wrapper {
		padding: 0 120px;
		padding-top: 40px;
	}

	.modal__title {
		border-bottom: 1px solid rgba(44, 61, 82, 0.2);
		padding: 20px;
	}
}

@media (max-width: $tablet-width) {
	.modal {
		&--card {
			font-size: 15px;
			line-height: 1.2;
		}
	}
}

@media (max-width: $mobile-width) {
	.modal {
		max-width: 95vw;
		padding-right: 15px;
		padding-left: 15px;

		&__top {
			padding: 20px 15px;
		}

		&__head {
			font-size: 13px;
		}

		&__image-wrapper {
			width: 50px;
			height: 50px;
			margin-right: 20px;
		}

		&--card {
			font-size: 13px;
			line-height: 1.2;
		}

		&__likes {
			margin: 15px 0px;
		}

		&__wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}

		.progect-textarea--message {
			height: 120px;
		}

		.g-recaptcha {
			transform: scale(0.8) translateX(-30px);
		}
	}

	.modal-enter {
		&__button {
			padding: 10px 15px;
		}

		&__social {
			flex-wrap: wrap;
			justify-content: center;

			p {
				width: 100%;
			}
		}

		.button--dark {
			width: calc(100% - 30px);
		}
	}
}
