@use "../variables" as *;

.news-feed {
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: sticky;
  top: 75px;

  @media (max-width: $tablet-width) {
    padding: 20px;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__item:nth-last-child(2) {
    margin-bottom: 30px;
  }

  &__time {
    display: block;
    color: $grey-black;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
  }

  &__title {
    margin: 0;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    transition: color 0.5s;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 63px;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    outline: none;
  }

  &__more {
    color: $blue;
    text-decoration: none;
    transition: color 0.7s;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: rgba(44, 61, 82, 0.65);
      transition: color 0.7s;
    }
  }

  &__main-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: $tablet-width) {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--article {
    width: 100%;
  }
}

.news-feed__item .link:hover .news-feed__title,
.news-feed__item .link:focus .news-feed__title {
  color: #aeaeae;
  transition: color 0.5s;
  outline: none;
}

@media (max-width: $mobile-width) {
  .news-feed {
    order: -1;
    width: 100%;
    margin-top: 0;
  }
}
