@use "../variables" as *;

.opened {
  display: block;
}

.opened-flex {
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: $mobile-width) {
  .no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}


@keyframes toRight {
  0% {
    margin-left: -335px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }

  100% {
    left: -335px;
  }
}
