@use "../variables" as *;

.photo-card {
  width: calc(33.33333% - 16px);
  margin: 8px;
  background: #fff;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;

  &__link {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    opacity: 1;
    transition: opacity 0.5s;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      transition: opacity 0.5s;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 380px;
    overflow: hidden;
  }

  &__wrapper {
    padding: 20px;
    border: 1px solid #E2E2E2;
    border-top: none;
  }


  &__name {
    display: block;
    margin-right: 90px;
  }
}

@media (max-width: $tablet-width) {
  .photo-card {
    &__image-wrapper {
      height: 228px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.2;
    }

    &__name {
      margin-right: 45px;
    }
  }
}

@media (max-width: $mobile-width) {
  .photo-card {
    width: 290px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
