@use "../variables" as *;

.read-also{
	margin-top: 15px;
	background: #fff;
	&__wrap{
		padding: 30px 20px;

	}
	&__title{
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		margin: 0 0 15px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-height: 60px;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
	}
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__item{
		margin-bottom: 15px;
		border-top: 1px solid #E9E9E9;
		@media (max-width: $mobile-width) {
			margin-bottom: 12px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		display: block;
		padding-top: 30px;
		text-decoration: none;
		outline: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 134.09%;
		/* identical to box height, or 21px */
		color: #000000;
		@media (max-width: $mobile-width) {
			font-size: 13px;
			padding-top: 16px;
		}
		span{
			font-size: 12px;
			line-height: 14px;
			color: #959EA8;
		}
		&:hover,
		&:focus {
			opacity: 0.6;
			transition: opacity 0.5s;
		}

		&:active {
			opacity: 0.8;
			transition: opacity 0.5s;
		}
	}
}
