// .redesign-news{
// 	.news-feed__item{
// 		margin-bottom: 30px;
// 	}
// 	.article-header{
// 		padding-bottom: 15px;
// 	}
// 	.alert{
// 		padding: 13px 0 14px;
// 		margin-bottom: 20px;
// 		line-height: 17px;
// 		@media (max-width: $tablet-width) {
// 			padding: 11px 0 11px;
// 			margin-bottom: 0;
// 				&--center {
// 					display: flex;
// 				}

// 		}
// 		@media (max-width: $mobile-width) {
// 			&--center {
// 				display: flex;
// 			}

// 		}
// 	}
// 	.article-footer{
// 		border: none;
// 		padding: 0 ;
// 	}
// 	.article-footer__wrap-social{
// 		display: flex;
// 		align-items: center;
// 		margin-top: 25px;
// 		@media (max-width: $mobile-width) {
// 			margin-bottom: 20px;
// 		}
// 	}
// 	.article-footer__wrapper{
// 		display: block;
// 		padding: 20px 0 0;
// 		position: relative;
// 		&:before{
// 			content: '';
// 			position: absolute;
// 			top: 20px;
// 			left: 0;
// 			width: 100px;
// 			height: 1px;
// 			background-color: #2C3D52;

// 		}
// 		.article-footer__social{
// 		}
// 		.button-wrapper{
// 			position: absolute;
// 			top: 24px;
// 			right: 0;
// 			@media (max-width: $mobile-width) {
// 				position: static;
// 			}
// 		}
// 		.button--inner{
// 			padding: 13px 90px 12px;
// 			margin: 0;
// 		}
// 	}
// 	.third-card{
// 		width: 100%;
// 		margin: 0 0 20px;
// 	}
// 	.third-card-news{

// 		.bookmark{
// 			z-index: 10;
// 		}
// 		.tag{
// 			z-index: 10;
// 		}
// 	}

// 	.article-block{
// 		.third-card-news{
// 			display: none;
// 			@media (max-width: $tablet-width) {
// 				display: block;
// 			}
// 			.flex-wrapper{
// 				flex-direction: row;
// 				justify-content: flex-start;
// 				align-items: center;
// 			}
// 			&__img{
// 				width: 33%;
// 			}

// 		}

// 	}
// 	.line-v1{
// 		@media (max-width: $tablet-width) {
// 			display: none;
// 		}
// 	}
// }

// .news-info{
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;

// }

// .view{
// 	font-size: 13px;
// 	line-height: 16px;
// 	letter-spacing: 0.02em;
// 	color: #959EA8;
// 	display: block;
// 	padding-left: 40px;
// 	background-image: url("../img/icon-view-grey.svg");
// 	background-repeat: no-repeat;
// 	background-position: left 10px center;
// }


// .read-also{
// 	margin: 0 -20px;
// 	border-top: 15px solid #f4f4f4;
// 	background: #fff;
// 	&__wrap{
// 		padding: 30px 20px;

// 	}
// 	&__title{
// 		font-weight: 500;
// 		font-size: 20px;
// 		line-height: 27px;
// 		color: #000000;
// 		margin: 0 0 15px;
// 		display: -webkit-box;
// 		-webkit-box-orient: vertical;
// 		overflow: hidden;
// 		max-height: 60px;
// 		-webkit-line-clamp: 2;
// 		text-overflow: ellipsis;
// 	}
// 	&__list{
// 		padding: 0;
// 		margin: 0;
// 		list-style: none;
// 	}
// 	&__item{
// 		margin-bottom: 15px;
// 		border-top: 1px solid #E9E9E9;
// 		@media (max-width: $mobile-width) {
// 			margin-bottom: 12px;
// 		}
// 		&:last-child{
// 			margin-bottom: 0;
// 		}
// 	}
// 	&__link{
// 		display: block;
// 		padding-top: 30px;
// 		text-decoration: none;
// 		outline: none;
// 		font-weight: 500;
// 		font-size: 16px;
// 		line-height: 134.09%;
// 		/* identical to box height, or 21px */
// 		color: #000000;
// 		@media (max-width: $mobile-width) {
// 			font-size: 13px;
// 			padding-top: 16px;
// 		}
// 		span{
// 			font-size: 12px;
// 			line-height: 14px;
// 			color: #959EA8;
// 		}
// 		&:hover,
// 		&:focus {
// 			opacity: 0.6;
// 			transition: opacity 0.5s;
// 		}

// 		&:active {
// 			opacity: 0.8;
// 			transition: opacity 0.5s;
// 		}
// 	}
// }