@use "../variables" as *;

.registration {
  padding: 0 120px;
  padding-top: 40px;
  padding-bottom: 40px;

  p {
  	line-height: 27px;
  }
}

@media (max-width: $mobile-width) {
  .registration {
    padding-left: 15px;
    padding-right: 15px;
  }
}