@use "../variables" as *;

.search {
  &__link {
    display: block;
      padding: 10px 0 15px 10px;
      width: 30px;
      height: 22px;
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: right center;
      transition: opacity 0.7s;
      &:hover,
      &:focus {
        opacity: .5;
        transition: opacity 0.7s;
      }
      &:active {
        opacity: .8;
        transition: opacity 0.7s;
      }
  }
}

@media (max-width: $mobile-width)  {
  .search {
  &__link {
    background-size: 14px;
    }
  }
}