@use "../variables" as *;

.sp-video-block {
  display: flex;
  align-items: center;
  background-color: #F4F9FF;
  min-height: 350px;

  &__left {
    flex-shrink: 0;
    width: 541px;
    height: 350px;
  }

  &__right {
    flex-grow: 1;
    font-size: 24px;
    line-height: 34px;
    color: #1C3B60;
    padding: 25px;
  }
}

@media (max-width: $tablet-width) {
  .sp-video-block {
    &__left {
      width: 50%;
    }

    &__right {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

@media (max-width: $mobile-width) {
  .sp-video-block {
    flex-wrap: wrap;
    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
      font-size: 15px;
      line-height: 1.2;
    }
  }
}
