@use "../variables" as *;

.sp-card-block {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -8px;
  }
}

@media (max-width: $mobile-width) {
  .sp-card-block {
    &__wrapper {
      margin: 0;
    }
  }
}
