@use "../variables" as *;

.third-card-news-bg {
  background-color: #eee;
  color: #fff;

  &__link {
    height: 100%;
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__inner {
    padding: 25px 25px 40px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(25, 23, 47, 0.55);
      z-index: 1;
      transition: background-color 0.5s;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 123px;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
  }

  &__image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__hashteg {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .bookmark {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
  }

  .tag {
    position: absolute;
    top: 90px;
    left: 25px;
    z-index: 2;
  }

  .stamp {
    width: 100%;
    bottom: -20px;
  }

  .stamp__item {
    color: #fff;
  }
}

.third-card-news-bg:hover .third-card-news-bg__inner::before,
.third-card-news-bg:focus + .third-card-news-bg__inner::before {
  background-color: rgba(25, 23, 47, 0.65);
  transition: background-color 0.5s;
}


@media (max-width: $tablet-width) {
  .third-card-news-bg {

    &__title {
      max-height: 123px;
      -webkit-line-clamp: 4;
    }

    .bookmark {
      top: 0;
      left: auto;
      right: 0;
    }

    .stamp {
      bottom: -24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .third-card-news-bg {

    .tag {
      top: 42px;
    }

  }
}
