@use "../variables" as *;

.top-container {
  min-width: 1280px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 17px;
  // background-color: #f4f4f4;

  &__actual-rubrics {
    width: 89.6%;
    position: relative;

    @media (max-width: $tablet-width) {
      &::before {
        content: "";
        width: 70px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.7) 43%, #e7e9eb 85%, #e7e9eb 100%);
        z-index: 1;
      }
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-right: 15px;
    overflow: hidden;
  }
  
  &__social {
    background-color: rgba(44, 61, 82, 0.06);
  }
}

@media (max-width: $tablet-width) {
  .top-container {
    min-width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .top-container {
    margin-bottom: 7px;

    .container {
      padding-right: 0;
    }

    &__social {
      display: none;
    }
  }
}
