@use "../variables" as *;

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $mobile-width) {
    display: none; 
  }
  
  &__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: grey;
  }
  
  &__degr {
    display: block;
    font-size: 19px;
    line-height: 23px;
    padding-right: 30px;
    background-image: url("../img/icon-weather-rain.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
  }

}