@use "../variables" as *;

.while-card {
  width: 100%;

  @media (max-width: $mobile-width) {
    width: auto;
    margin-left: -16px;
    margin-right: -16px;
  }

  &__video-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;

    @media (max-width: $mobile-width) {
      padding-top: 2px;
      padding-left: 16px;
      margin-bottom: 2px;
    }
  }
}