@use "../variables" as *;

.add-comment {
  border: 3px solid #E7E8E8;
  padding: 27px 17px 27px 17px;
  margin-top: 20px;

  &__title {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__columns {
      display: flex;
      align-items: center;
      margin: 0 -15px; 
  }

  &__text {
    margin-right: auto;
    font-size: 13px;
    line-height: 36px;
    color: rgba(44, 61, 82, 0.5);
  }

  &__input {
    border-radius: 3px;
    margin-bottom: 10px;
    max-width: 300px;
  }

  &__textarea-wrapper {
    position: relative;  
  }

  .emojionearea-button {
    display: none;
  }

  .emojionearea-picker.emojionearea-picker-position-top,
  .emojionearea-button.active+.emojionearea-picker-position-top {
    margin-top: auto !important;
    right: 178px !important;
    bottom: 43px !important;
  }

  &__smile {
    position: relative;
    margin-right: 15px;
    height: 24px;
    width: 24px;
  }

  &__smile-open {
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url('../../img/icon-smile.svg');
    cursor: pointer;
  }

  &__smile-close {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url('../../img/icon-close-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__smile.active &__smile-open {
    opacity: 0;
    visibility: hidden;
    z-index: -2;
  }

  &__smile.active &__smile-close {
    opacity: 0.4;
    visibility: visible;
  }

  &__bottom {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__policy {
    padding-right: 60px;
  }

  &__button {
    padding: 12px 51px;
  }

  .emojionearea-editor {
    overflow: auto;
    height: 94px;
    max-height: none;
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    }

    
}

@media (max-width: $mobile-width) {
  .add-comment {
    margin-top: 0;

    &__title {
      line-height: 20px;
    }
    
    &__columns {
      flex-direction: column;
      margin: 0;
    }

    &__button {
      padding-left: 24px;
      padding-right: 24px;
      flex-grow: 1;
    }
    
    &__bottom {
      flex-wrap: wrap;
    }
    
    &__text {
      width: 100%;
      line-height: 20px;
      margin-bottom: 24px;
    }

    &__input {
      max-width: 100%;
    }

    &__policy {
      padding-right: 0;
      margin-bottom: 30px;
    }

    &__wrapper {
      flex-wrap: wrap;
    }

    .emojionearea-picker.emojionearea-picker-position-top,
    .emojionearea-button.active+.emojionearea-picker-position-top {
      left: -32px !important;
      right: auto !important;
    }

    .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after {
      right: auto !important;
      left: 35px !important;
    }
    
  }
}