@use "../variables" as *;

.article-header {
    padding: 30px 0 0 0;
    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1.2;
        color: rgb(44, 61, 82);
    }
    &__rubric {
        margin-right: 20px;
        color: #B30000;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__bookmarks {
        margin-left: auto;
        padding-left: 30px;
        color: #2c3d52;
        opacity: 0.6;
        text-decoration: none;
        background-image: url('../../img/icon-star.svg');
        background-repeat: no-repeat;
        background-position: left 10px center;
        transition: opacity 0.5s;
        &:hover,
        &:focus {
            opacity: 1;
            transition: opacity 0.5s;
        }
  
    }
    &__time {
      font-weight: 500;
    }
    &__erid {
        font-size: 17px;
        line-height: 29px;
    }

    &__censor {
      margin-left: 20px;
      font-weight: 500;
    }
}

@media (max-width: $tablet-width) {
    .article-header {
        padding: 24px 0 0 0;
    }
}

@media (max-width: $mobile-width) {
    .article-header {
        padding: 18px 0 0 0;
        &__wrapper {
            font-size: 12px;
            margin-bottom: 13px;
        }
        &__bookmarks {
            font-size: 0;
            height: 12px;
        }
    }
}