@use "../variables" as *;

.article-footer {
    color: rgb(44, 61, 82);
    font-size: 14px;
    line-height: 1.2;
    &__text {
        white-space: nowrap;
        margin-right: 16px;
        position: relative;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        &::before {
            content: "";
            display: block;
            width: calc(100%);
            height: 1px;
            background-color: #000000;
            position: absolute;
            top: -8px;
            left: 0;
        }
    }
    &__views {
        padding: 0 20px;
        padding-left: 40px;
        background-image: url("../../img/icon-view-grey.svg");
        background-repeat: no-repeat;
        background-position: left 10px center;
        border-right: 1px solid #E7E8E8;
        border-left: 1px solid #E7E8E8;
    }
    &__bookmark {
        white-space: nowrap;
        color: #2c3d52;
        opacity: 0.6;
        padding: 0 20px;
        padding-left: 40px;
        text-decoration: none;
        background-image: url('../../img/icon-star.svg');
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 17px;
        transition: opacity 0.5s;
        &:hover,
        &:focus {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
    &__write-us {
        white-space: nowrap;
        color: #2c3d52;
        opacity: 0.6;
        padding: 0 20px;
        padding-left: 40px;
        text-decoration: none;
        border-left: 1px solid #E7E8E8;
        background-image: url('../../img/icon-write.svg');
        background-repeat: no-repeat;
        background-position: left 10px center;
        transition: opacity 0.5s;
        &:hover,
        &:focus {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
    &__wrap-social {
        display: flex;
        align-items: center;
        height: 27px;
    }
    &__wrap-reactions {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
        min-height: 46px;
    }
    &__btn-comments {
        margin: 0;
        padding: 12px 84px;
    }
    &__hashteg {
        margin-bottom: 32px
    }
}

@media (max-width: $tablet-width) {
    .article-footer {
        font-size: 13px;
        &__write-us {
            display: none;
        }
        &__hashteg {
            margin-bottom: 24px
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
        &__text::before {
            top: -5px;
        }
    }
}

@media (max-width: $mobile-width) {
    .article-footer {
        margin-top: 10px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__wrap-reactions {
            flex-direction: column;
            margin-bottom: 12px;
            min-height: auto;
        }
        &__views {
            width: 50%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgba(207, 210, 214, 0.2);
            background-image: url("../../img/icon-view-dark.svg");
            opacity: 1;
            margin-bottom: 20px;
            color: #2c3d52;
        }
        &__bookmark {
            width: 50%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgba(207, 210, 214, 0.2);
            margin-bottom: 20px;
            opacity: 1;
            span {
                display: none;
            }
        }
        &__hashteg {
            margin-bottom: 20px
        }
        &__text {
            font-size: 12px;
            line-height: 16px;
            margin-right: 10px;
            order: 3;
        }
        &__text::before {
            display: none;
        }
        &__social {
            order: 4;
        }
        &__btn-comments {
            margin-top: 20px;
            width: 100%;
        }
    }
}