@use "../variables" as *;

.article-block {
    font-size: 17px;
    line-height: 29px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    padding-bottom: 25px;
    border-radius: 8px;
    margin-bottom: 15px;
    .container {
        background-color: #fff;
        padding-bottom: 40px;
    }
    &__image-wrapper {
        width: 100%;
        &--no-height {
            height: auto;
            background: #FBFBFB;
        }
    }
    &__image-title {
        margin-top: 8px;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        @media (max-width: $tablet-width-portret) {
            margin-top: 5px;
        }
        @media (max-width: $mobile-width) {
            font-size: 14px;
        }
    }
    &__container {
        width: 896px;
        margin: 0 auto;
    }
    &__video {
        margin: 0 50px;
    }
    &__text {
        margin-right: 0;
        margin-left: 0;
    }
    &__author {
        margin: 20px 0 20px 0;
    }
    &__author-link {
        line-height: 1.2;
        letter-spacing: .02em;
        color: #B30000;
        text-decoration: none;
    }
    &__author-link:hover {
        text-decoration: underline;
    }
}

@media (max-width: $tablet-width) {
    .article-block {
        font-size: 15px;
        line-height: 24px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 12px;
        &__container {
            width: 700px;
        }
        &__image-wrapper {
            margin-bottom: 20px;
        }
        &__author {
            margin: 16px 0 0;
        }
    }
}

@media (max-width: $mobile-width) {
    .article-block {
        font-size: 18px;
        line-height: 30px;
        margin: 0 -16px;
        border-radius: 0;
        padding-bottom: 25px;
        &__container {
            width: 100%;
        }
        &__video {
            margin: 0;
        }
        &__author {
            margin: 8px 0 0;
        }
    }
}