@use "../variables" as *;

.bookmark {
  display: block;
  padding-left: 20px;
  background-image: url('../../img/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center left;
  text-decoration: none;
  opacity: .7;
  transition: opacity .5s;

  &__text {
    color: #fff;
  }

  &__text--dark {
    color: #2C3D52;
  }
  
  &__text--red {
    color: #FE4349;
  }

  &--white {
    background-image: url('../../img/icon-star-wh.svg');
  }

  &--red {
    background-image: url('../../img/icon-star-red.svg');
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
  .bookmark {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(216, 216, 216, 0.7);
    background-image: url("../../img/icon-star-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .5s;

    &__text {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
      background-color: #2C3D52;
    }
  }

  .bookmark--red {
    background-color: #FE4349;
  }
}
