@use "../variables" as *;
@use "../mixins.scss" as *;

.breadcrumbs {
    &__list {
        @include list;
        display: flex;
        flex-wrap: wrap;
        
        @media  screen and (max-width: 479px) {
          max-width: 80%;
        }
    }
    &__link {
        display: block;
        padding-right: 24px;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: rgb(44, 61, 82);
        text-decoration: none;
        position: relative;
        transition: color .5s;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        white-space: nowrap;

        @media  screen and (max-width: 479px) {
          padding-top: 8px;
          padding-bottom: 8px;
        }

        &::before {
            content: "";
            width: 24px;
            height: 10px;
            position: absolute;
            top: 50%;
            margin-top: -5px;
            right: 0;
            background-image: url("../../img/icon-arrow-down.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 5px;
            transform: rotate(-90deg);
        }
        &--forum {
            font-size: 17px;
            line-height: 1.4;
            max-width: 186px;
        }
        &:hover,
        &:focus {
            color: rgba(44, 61, 82, 0.8);
        }
        &:active {
            color: rgba(44, 61, 82, 0.9)
        }
    }
    &__link:not([href]) {
        color: #2C3D52;
        &::before {
            position: static;
            width: 1px;
            height: 1px;
            background-image: none;
        }
    }
    &--forum {
        padding-top: 10px;
        padding-bottom: 25px;
        .breadcrumbs__link::before {
            top: 7px;
        }
    }
}

@media (max-width: $mobile-width) {
    .breadcrumbs__link--forum {
        display: none;
        font-size: 16px;
    }
    .breadcrumbs__link--forum:not([href]) {
        display: block;
    }
}