@use "../variables" as *;

.comments {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 8px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
   margin: 0 -16px 20px -16px;
   border-radius: 0;
   padding: 22px 16px;
  }
  
  &__title {
    padding: 0 0 25px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    border-bottom: 1px solid rgba(44,61,82,.2);

    @media (max-width: $mobile-width) {
      font-size: 17px;
      line-height: 29px;
      border-bottom: none;
      padding-bottom: 10px;
    }
  }

  &__list {
      border-bottom: 1px solid rgba(44,61,82,.2);
  }
}
