.file-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color .5s;
  margin-right: 5px;

  &:hover,
  &:focus {
    color: rgba(44, 61, 82, 0.6);
  }

  &:active {
    color: rgba(44, 61, 82, 0.8);
  }
}
