@use "../variables" as *;

.file-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 115px;
	margin-bottom: 26px;
	margin-top: 22px;

	&--comment {
		width: 100%;
		min-height: auto;
		margin-top: 0;
		margin-bottom: 0;

		.photos {
			margin-right: auto;
			flex-shrink: 0;
			min-height: 90px;
		}

		.users-photo {
			width: 80px;
			height: 80px;
			margin: 0;
		}

		.img-thumbnail {
			width: 80px;
			height: 80px;
		}
	}

	&--forum {
		.photos {
			width: 100%;
			min-height: 100px;
		}
	}
}

@media (max-width: $mobile-width) {
	.file-wrapper {
		&--forum {
			.photos {
				min-height: auto;
			}
		}
	}
}