.grid-main-bottom {
  display: grid;

  &__banner {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
  }

  &__rubric {
    margin: 16px 0 0 0;

    @media (max-width: 767px) {
      grid-row: 1;
      margin: 0 0 16px 0 !important;
    }
  }

  &__inner {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 15px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  &__parthner-top img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__parthner-top,
  &__parthner-bottom {
    grid-column: 1/5;
  }

  &__news-line {
    grid-column: 1/3;
  }

  &__right-banner {
    max-height: 369px;
  }

  &__right-banner,
  &__half-card-news,
  &__right-parthner-1,
  &__right-parthner-2 {
    grid-column: 3/5;
   }

  &__half-card-news {
    grid-row: 2/4;
  }

  &__right-parthner-1 {
    grid-row: 4/6;
    max-height: 369px;
  }

  &__right-banner {
  grid-row: 6/8;
  }

  &__right-parthner-2 {
    grid-row: 8/11;
  }

  &__right-parthner-1 img,
  &__right-parthner-2 img,
  &__parthner-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__while-card {
    grid-column: 1/5;
    margin-bottom: 4px;
  }
}

@media (max-width: 1024px) {
  .grid-main-bottom__inner {
    grid-template-columns: repeat(3, 1fr); 
    padding: 0 20px;
  }
}

@media (max-width: 768px) {

  .grid-main-bottom__inner {
    grid-template-columns: repeat(3, 1fr); 
  }

  .grid-main-bottom {
    &__half-card-news,
    &__parthner-top {
        grid-column: 3/4;
    }

    &__parthner-bottom {
      grid-column: 1/4;
    }

    &__parthner-top {
      grid-row: 1/4;
    }

    &__half-card-news {
        grid-row: 4/6;
        height: 354px;
    }

    &__right-parthner-1 {
        grid-column: 1/4;
        grid-row: 6;
    }

    &__right-parthner-2 {
        grid-column: 1/2;
        grid-row: 7/12;
    }

    &__news-line:nth-child(6) {
        grid-column: 1/3;
        grid-row: 5;
    }

    &__news-line:nth-child(7) {
        grid-column: 2/4;
        grid-row: 8;
    }

    &__news-line:nth-child(8) {
        grid-row: 9;
        grid-column: 2/4;
    }

    &__news-line:nth-child(9) {
        grid-row: 10;
        grid-column: 2/4;
    }

    &__news-line:nth-child(10) {
        grid-row: 11;
        grid-column: 2/4;
    }

    &__right-banner {
        grid-column: 2/4;
        grid-row: 7;
    }

    &__while-card {
      grid-column: 1/4;
    }
  }

}

@media (max-width: 767px) {
  .grid-main-bottom__inner {
    grid-template-columns: none;
    padding: 0 16px;
    width: 100%;
  }

  .grid-main-bottom {

    &__parthner-top,
    &__parthner-bottom,
    &__right-banner {
        margin: 0 -16px;
    }
  
    &__parthner-top {
        grid-row: 1;
    }
  
    &__news-line {
        grid-column: 1/5;
    }
  
    &__news-line,
    &__parthner-top,
    &__parthner-bottom,
    &__right-banner,
    &__right-parthner-1,
    &__right-parthner-2,
    &__half-card-news,
    &__while-card,
    &__news-line:nth-child(6),
    &__news-line:nth-child(7),
    &__news-line:nth-child(8),
    &__news-line:nth-child(9),
    &__news-line:nth-child(10) {
        grid-column: 1/5;
    }
  
    &__news-line:nth-child(2) {
        grid-row: 2;
    }
  
    &__news-line:nth-child(3) {
        grid-row: 3;
    }
  
    &__news-line:nth-child(4) {
        grid-row: 4;
    }
  
    &__news-line:nth-child(5) {
        grid-row: 5;
    }
  
    &__news-line:nth-child(6) {
        grid-row: 6;
    }
  
    &__half-card-news {
        grid-row: 7;
    }
  
    &__right-parthner-1 {
        grid-row: 8;
    }
  
    &__right-banner {
        grid-row: 9;
    }
  
    &__right-parthner-2 {
        grid-row: 10;
    }
  
    &__news-line:nth-child(7) {
        grid-row: 11;
    }
  
    &__news-line:nth-child(8) {
        grid-row: 12;
    }
  
    &__news-line:nth-child(9) {
        grid-row: 13;
    }
  
    &__news-line:nth-child(10) {
        grid-row: 14;
    }
  }

  
}