@use "../variables" as *;

.interesting {
  margin-bottom: 15px;
	background-color: #fff;
  border-radius: 8px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 -16px 20px -16px;
    border-radius: 0;
  }

	&__wrap{
		padding: 30px 20px 14px;

    @media (max-width: $tablet-width) {
      padding-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 20px;
      padding-bottom: 0;
    }
	}

	&__title{
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		margin: 0;
	}
	.reading-item{
		max-width: 653px;

		&:first-child{
			.reading-item__link{
				border-top: none;
			}
		}
	}
}