@use "../variables" as *;

.likes {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 15px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  color: #959EA8;
  background-image: url("../../img/icon-heart-inner.svg");
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 1;
  transition: opacity 0.5s;

  &--active {
    background-image: url("../../img/icon-heart-full.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    transition: opacity 0.5s;
  }

  &:active {
    opacity: 0.9;
    transition: opacity 0.5s;
  }
}

@media (max-width: $tablet-width) {
  .likes {
    font-size: 12px;
    line-height: 14px;
    background-size: 15px;
    padding-left: 20px;
    bottom: 23px;
  }
}
