@use "../variables" as *;

.line-v2 {
	margin: 20px 0;
	font-size: 16px;
	line-height: 1.2;

	&__text {
		display: block;
		text-align: center;
		transition: .5s;
	}

	&__link {
		padding: 15px;
		padding-left: 227px;
		border: 1px solid #2C3D52;
		background: rgba(44, 61, 82, 0.05);
		display: block;
		color: #2C3D52;
		text-decoration: none;
		position: relative;
		transition: .5s;

		&::before {
			content: "";
			position: absolute;
			width: 227px;
			top: 0;
			bottom: 0;
			left: 0;
			background-color: #2C3D52;
		}

		&::after {
			content: "";
			position: absolute;
			width: 227px;
			top: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: left 20px center;
			transition: .5s;
		}

		&:hover,
		&:focus {
			border: 1px solid rgba(44, 61, 82, 0.7);
		}

		&--inst::after {
			background-image: url("../../img/icon-beat-inst3.svg");
		}

		&--vk::after {
			background-image: url("../../img/icon-beat-vk3.svg");
		}

		&--tlg::after {
			background-image: url("../../img/icon-beat-tlg3.svg");
		}

		&--yan::after {
			background-image: url("../../img/icon-beat-yan3.svg");
		}

		&--dzen::after {
			background-image: url("../../img/icon-beat-dzen.svg");
			background-position: left;
		}

		&--dzen::before {
			border-radius: 0 10px 10px 0;
			background: #000000;
		}

		&--dzen {
			border-color: #9f9f9f;
		}

		&:hover::after,
		&:focus::after {
			opacity: 0.7;
		}

		&:hover .line-v2__text,
		&:focus .line-v2__text {
			opacity: 0.6;
		}
	}
}

@media (max-width: $mobile-width) {
	.line-v2 {
		font-size: 13px;
		line-height: 1.2;

		&__link {
			padding-left: 60px;
			&::before {
				width: 50px;
			}
			
			&::after {
				width: 50px;
				overflow: hidden;
				background-position: left 9px center;
			}

			&--dzen::after {
				background-image: url("../../img/icon-beat-dzen1.svg");
				background-position: left;
			}
		}
	}
}

@media (max-width: 430px) {
	.line-v2__link--dzen::after {
		background-size: cover;
		background-position: center;
	}	
}	
