.line-v3 {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.2;

  &__link {
    padding: 15px;
    padding-left: 40px;
    display: block;
    color: #2C3D52;
    text-decoration: none;
    position: relative;
    transition: .5s;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      top: calc(50% - 15px);
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--inst::before {
      background-image: url("../../img/icon-beat-inst1.svg");
    }

    &--vk::before {
      background-image: url("../../img/icon-beat-vk1.svg");
    }

    &--tlg::before {
      background-image: url("../../img/icon-beat-tlg1.svg");
    }

    &--yan::before {
      background-image: url("../../img/icon-beat-yan1.svg");
    }
      
      &:hover,
      &:focus {
        opacity: 0.6;
        }  
  }
}
