.mrg-right {
	margin-right: 15px;
}

.mrg-bottom {
	margin-bottom: 15px;
}

.mrg-bottom-20 {
	margin-bottom: 20px;
}

.mrg-vertical {
	margin: 15px 0;
}

.mrg-vertical-40 {
	margin: 40px 0;
}

.mrg-btm-8 {
	margin-bottom: -8px;
}

.pdg-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.pdg-bottom-20 {
	padding-bottom: 20px;
}

.pdg-top-20 {
	padding-top: 20px;
}

.pdg-btm-8 {
	padding-bottom: 8px;
}

.bg-white {
	background-color: #fff;
}

.text-align-center {
	text-align: center;
}
