@use "../variables" as *;

.news-fix{
	display: none;
	&.show{
		@media (max-width: $mobile-width) {
			display: block;
			position: fixed;
			top: 43px;
			left: 0;
			right: 0;
			height: 50px;
			z-index: 21474836;
		}
	}
	&__wrap{
		position: relative;
		padding-right: 40px;
		background-color: #F4F4F4;
		margin-bottom: 14px;
		border-bottom: 1px solid #D8D8D8;
	}
	&__link{
		display: block;
		padding: 8px 0 8px 16px;
		font-weight: 500;
		font-size: 13px;
		line-height: 134.09%;
		color: #000000;
		text-decoration: none;
		outline: none;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		text-overflow: ellipsis;
	}
	&__close{
		position: absolute;
		right: 16px;
		top: 50%;
		margin-top: -10px;
		display: block;
		width: 20px;
		height: 20px;
		background-image: url("../../img/icon-close-black.svg");
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		outline: none;
		cursor: pointer;
	}
}
