@use "../variables" as *;

.partner-news {
    background-color: #fff;
    margin-top: 15px;
    background: #fff;
    padding: 20px 20px 0;
    border-bottom: 1px solid transparent;

    @media (max-width: $tablet-width) {
      margin-top: 20px;
    }

    @media (max-width: $mobile-width) {
      margin: 20px -16px 0 -16px;
    }

    &__title {
        margin: 10px 0 20px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
    }
}
