@use "../variables" as *;

.push-bunner {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    position: relative;
    padding: 50px 30px;
  }

  &__close {
    background-color: transparent;
    border: 0;
    padding: 10px;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -27.5px;
    cursor: pointer;
  }

  &__close svg {
    width: 35px;
    height: 35px;
    fill: white;
  }

  &.is-open {
    transition-delay: 1s;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-property: all;
    opacity: 0.9;
    visibility: visible;
    z-index: 9999999;
  }

	&__link {
		display: block;
		width: 80vw;
	}

	&__image {
		width: 100%;
	}
}

@keyframes showBanner {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@media (max-width: $mobile-width) {

	.push-bunner {

		.fancybox-close-small {
			right: calc(50% - 28px) !important;
		}

		.fancybox-button {
			width: 55px;
			height: 55px;
		}
	}
}
