@use "../variables" as *;

.reading {
  margin: 0 -20px;
  border-top: 15px solid #F4F4F4;
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
  &__title {
    margin: 0;
    margin: 20px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    
    &::before {
      content: "";
      width: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background-color: #E9E9E9;
    }
  }

  &__left {
    width: 48.5%;
  }

  &__right {
    width: 48.5%;
  }
}

@media (max-width: $mobile-width) {
  .reading {
    &__wrapper {
      display: block;
      
      &::before {
        display: none;
      }
    }
    
    &__left {
    width: 100%;
  }

  &__right {
    width: 100%;
  }
  }
}
