@use "../variables" as *;

.rubric-author {
  width: 100%;
  background-color: white;
  padding: 20px 15px 20px 15px;
  margin-bottom: 16px;
  min-height: 330px;

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 500;
  }

  &__profile {
    display: grid;
    column-gap: 15px;
    align-items: start;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(3,  auto);
    grid-template-areas:
        "img info"
        "img text"
        "img .";
  }

  &__profile-photo {
    height: 253px;
    width: 200px;
    grid-area: img;
  }

  &__profile-info {
    padding-top: 15px;
    grid-area: info;
  }

  &__name {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    max-height: 30px;
  }

  &__city {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #959EA8;
    max-height: 30px;
    margin-top: 5px;
  }

  &__job {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 6px;
    max-height: 30px;
  }

  &__education {
    padding-top: 10px;
    border-top: 1px solid #A6ACB6B2;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    grid-area: text;
    max-width: 905px;

    p:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: $tablet-width-portret) {
    & {
      padding: 15px;
    }

    &__profile {
      grid-template-columns: 129px auto;
      grid-template-areas:
        "img info"
        "text text";
    }

    &__profile-photo {
      height: 163px;
      width: 129px;
    }

    &__education {
      border: none;
      padding-top: 0;
    }
  }

  @media (max-width: 425px) {
    &__name {
      font-size: 14px;
    }
  
  
    &__job {
      font-size: 14px;
    }

    &__education {
      font-size: 12px;
    }
  }
}