@use "../variables" as *;

.rubric {
  min-width: 1280px;
  color: #fff;
  margin: 8px 0;
  .tag {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .container{
    z-index: 99;
  }

  &--inner {
    min-width: 100%;
    margin: 16px 0;
  }
  &__image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.4;

    &-wrap{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2C3D52;
      
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgb(44,61,82);
        background: linear-gradient(90deg, rgba(44,61,82,1) 27%, rgba(255,255,255,0) 59%, rgba(44,61,82,1) 84%);
      }

      @media (max-width: $tablet-width) {
        &:after{
          background: linear-gradient(90deg, rgba(44,61,82,1) 38%, rgba(255,255,255,0) 100%, rgba(44,61,82,1) 120%);
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .rubric {
    min-width: 100%;

    &--inner {
      min-width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
