@use "../variables" as *;

.text-block {
  margin: 5px 50px 10px 50px;

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

    span {
      color: #FE4349;
    }
  }

  p:not(:last-child) {
    margin: 30px 0;
  }

  p:last-child {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__lead {
    font-weight: 600;
  }

  &__quote {
    margin: 0;
    margin-right: 80px;
    margin-top: 10px;
    padding: 20px 0;
    display: inline-block;
    border-top: 5px solid #FE4349;
    width: calc(50% - 80px);
    font-weight: 800;
    font-size: 19px;
    line-height: 32px;
    color: #2C3D52;
    vertical-align: top;

    + p {
      display: inline-block;
      width: 49%;
      margin-top: 0;
    }
  }

  &__quote-horisontal {
    padding: 0;
    margin: 0;
    margin-left: -50px;
    padding: 0 20px;
    font-size: 23px;
    line-height: 31px;
    border-left: 3px solid #FE4349;
  }

  blockquote {
    margin: 0;
    margin-left: 24px;
    padding-left: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 19px;
    line-height: 32px;
    position: relative;

    &::before {
      content: "";
      width: 1px;
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 0;
      background-color: #C4C4C4;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -40px;
      width: 49px;
      height: 49px;
      background-image: url("../../img/icon-quote.svg");
      background-position: top 10px right 3px;
      background-repeat: no-repeat;
      background-size: 30px;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 100%;
    }

  }
}

@media (max-width: $tablet-width) {
  .text-block {
    margin-top: 0;

    p:not(:last-child) {
      margin: 16px 0;
    }

    p:last-child {
      margin-top: 16px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 13px;
      line-height: 17px;
      font-weight: bold;
    }

    &__quote {
      font-size: 18px;
      line-height: 31px;
    }

    &__quote-horisontal {
      font-size: 20px;
      line-height: 27px;
    }

    blockquote {
      font-size: 15px;
      line-height: 26px;

      &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -40px;
        width: 49px;
        height: 49px;
        background-image: url("../../img/icon-quote.svg");
        background-position: top 10px right 3px;
        background-repeat: no-repeat;
        background-size: 30px;
      }

      img {
        width: 90px;
        height: 90px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .text-block {
    margin: 0;

    p:not(:last-child) {
      margin: 20px 0;
    }

    p:first-child {
      margin-top: 12px;
    }

    p:last-child {
      margin-top: 20px;
      margin-bottom: 10px;
    }


    &__quote {
      width: 65%;
      font-size: 15px;
      line-height: 26px;

      + p {
        display: block;
        width: 100%;
      }
    }

    &__quote-horisontal {
      font-size: 15px;
      line-height: 20px;
      margin-left: 0;
    }

    blockquote {
      font-size: 17px;
      line-height: 30px;
    }
  }
}
