@use "../variables" as *;

.third-card {
  position: relative;
  height: 380px;
  transform: scale(1);
  transition: transform 0.5s;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
  }

  .stamp {
    width: calc(100% - 45px);
  }

  .subzone, .subzone a {
    display: block;
    height: 100%;
  }

  #banner-middle {
    height: 100%;
  }

  .subzone a img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: $tablet-width) {

  .third-card--50 {
    width: calc(50% - 16px);
  }
}

@media (max-width: $mobile-width) {
  .third-card {
    width: 100%;
    height: 310px;
  }
}
