@use "../variables" as *;

.third-card-news {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 15px;

  &__link {
    display: block;
    text-decoration: none;
    overflow: hidden;
  }

  &__img-wrp {
    width: 100%;
    height: 194px;
  }

  &__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__title {
    margin: 20px 24px 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 88px;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    margin: auto 20px 0 20px;
  }

  &__hashteg {
    margin-bottom: 15px;
  }
  
  .bookmark {
    position: absolute;
    top: 215px;
    right: 25px;
    z-index: 2;
  }

  .tag {
    position: absolute;
    top: 210px;
    left: 25px;
    z-index: 2;
  }

  .stamp {

    &__item {
      color: grey;
    }
  }
}



@media (max-width: $tablet-width) {
  .third-card-news {
    border: 1px solid #E2E2E2;

    &__img {
      height: 177px;
    }

    &__title {
//      max-height: 90px;
      font-size: 16px;
    }

    .tag {
      top: 196px;
    }

    .hashteg {
      bottom: 60px;
    }
    
     .bookmark {
      top: 0;
      right: 0;
    }
  }
}


@media (max-width: $mobile-width) {
  .third-card-news {

    .stamp {
      bottom: 10px;
    }

    &__img {
      height: 138px;
    }

    .tag {
      top: 152px;
    }

    //    &__link {
    //      position: absolute;
    //     width: 100%;
    //    }
  }
}
