@use "../variables" as *;

.top-panel {
	margin-bottom: 16px;
}

@media (max-width: $tablet-width) {
  .top-panel {
    padding-top: 6px;
    margin-bottom: 16px;
  }  
}

@media (max-width: $mobile-width) {
	.top-panel {
		margin-bottom: 10px;
	}
}
