@use "../variables" as *;
@use "../mixins.scss" as *;

.trick {
  padding-bottom: 50px;
  &__list {
    @include list;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__item {
    width: 31.4%;
    flex-shrink: 0;
    border: 1px solid #D5D8DC;
    padding: 25px;
    margin-right: 25px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__persent {
    width: 93px;
    height: 93px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 50%;
    background: #FFCD00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 2.8;
  }
}

@media (max-width: $tablet-width)  {
  .trick {
    &__item {
      margin-right: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .trick {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
}