<div class="banner-wide banner-wide--fixed" style="background-color: #000">
    <div class="container">
      <button class="button--fixbanner-close"><span class="visually-hidden">Закрыть банер</span></button>
    </div>
    <a href="#" class="banner-wide__link">
      <picture>
        <source media="(max-width: 767px)" srcset="img/banner9mob.png">
        <source media="(max-width: 992px)" srcset="img/banner9tab.png">
        <img src="img/banner9.jpg" alt="Рекламный банер">
      </picture>
    </a>
  </div>