  <footer class="main-footer">
    <div class="container">
      <div class="main-footer__flex-wrapper">
        <div class="main-footer__left">
          <div class="logo">
            <a class="logo__link">
              <img class="logo__image" src="img/logo.png" width="200" alt="Логотип сайта город Киров">
            </a>
          </div>
        </div>
        <div class="main-footer__center">
          <div class="main-footer__copyright">
            <p>Сетевое издание "WWW.GORODKIROV.RU". Учредитель: ООО «Фогран». Главный редактор: Черных Юлия Эдуардовна. Адрес редакции: 610000, Кировская область, г. Киров, ул.Молодой Гвардии, д.82. Эл.почта: reklama@gorodkirov.ru, тел: +7(922)926-54-04, 54-16-05. Свидетельство о регистрации ЭЛ № ФС77-60902 от 02 марта 2015, выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций. Полное или частичное цитирование материалов сайта, возможно только с гиперссылкой на источник. Мнение редакции может не совпадать с мнениями, высказанными в интервью, комментариях пользователей или прямой речи персонажей публикаций. Редакция не несёт ответственности за текст комментариев читателей.</p>
            <p class="green">Политика обработки персональных данных и соглашение об обработке персональных данных. | Спец. оценка по условиям труда</p>
          </div>
        </div>
        <div class="main-footer__right">
          <div class="social">
            <h3 class="visually-hidden">Мы в социальных сетях</h3>
            <ul class="social__list">
              <li class="social__item"><a href="#" class="social__link social__link--vk"><span class="visually-hidden">Вконтакте</span></a></li>
              <li class="social__item"><a href="#" class="social__link social__link--fb"><span class="visually-hidden">Фейсбук</span></a></li>
              <li class="social__item"><a href="#" class="social__link social__link--odnk"><span class="visually-hidden">Одноклассники</span></a></li>
            </ul>
          </div>
          <div class="main-footer__age">16+</div>
        </div>
      </div>

      <div class="main-footer__metric">
        <div>Здесь будут счетчики</div>
        <div class="main-footer__age">16+</div>
      </div>
    </div>
  </footer>