<header class="main-header">
    <div class="container">
      <div class="main-header__left">
        <button class="button button--burger" type="button"><span class="visually-hidden">Навигация сайта</span></button>
        <div class="logo">
          <a class="logo__link">
            <img class="logo__image" src="img/logo.png" width="200" alt="Логотип сайта город Киров">
          </a>
        </div>
      </div>
      <!--START: кнопка городов (для Костромы) -->
      <div class="button-city"><a href="#city" data-fancybox ><span>Костромская область</span></a></div>
      <!--END: кнопка городов (для Костромы) -->
      <div class="widjets">
        <div class="weather">
          <b class="weather__text">26 августа, Киров</b>
          <span class="weather__degr">+ 23°</span>
        </div>
        <div class="currency">
          <span class="currency__text">Курс ЦБ</span>
          <span class="currency__dollar">63,45</span>
          <span class="currency__euro">73,47</span>
        </div>
        <div class="road">
          <span class="road__text">Средняя <br> загруженность</span>
        </div>
      </div>
      <div class="main-header__right">
        
<!--
        <div class="user">
         <a href="profile.html" class="user__link">
          <div class="user__img-wrapper">
            <img src="img/avatar.jpg" width="32" height="32" alt="Пользователь">
          </div>
          <p class="user__name">Aleksandr Sherstnichenko</p>
          </a>
        </div>
-->

        <div class="search">
          <a href="#" data-fancybox="" data-src="#modal-search" class="search__link"><span class="visually-hidden">Поиск по сайту</span></a>
        </div>
      </div>
    </div>
  </header>