<div class="modal menu-city" id="city">
  <div class="menu-city__wrap">
    <div class="menu-city__title">ВЫБЕРИТЕ ГОРОД</div>
    <!-- <div><a href="" class="menu-city__current">Кострома</a></div> -->
    <div class="menu-city__btn-close"><a href="#" class="close" data-fancybox-close ></a></div>
    <ul class="menu-city__list">
      <li class="menu-city__item"><a href="#">Буй</a></li>
      <li class="menu-city__item"><a href="#">Волгореченск</a></li>
      <li class="menu-city__item"><a href="#">Галич</a></li>
      <li class="menu-city__item"><a href="#">Кологрив</a></li>
      <li class="menu-city__item"><a href="#">Кострома</a></li>
      <li class="menu-city__item"><a href="#">Макарьев</a></li>
      <li class="menu-city__item"><a href="#">Мантурово</a></li>
      <li class="menu-city__item"><a href="#">Нерехта</a></li>
      <li class="menu-city__item"><a href="#">Нея</a></li>
      <li class="menu-city__item"><a href="#">Солигалич</a></li>
      <li class="menu-city__item"><a href="#">Чухлома</a></li>
      <li class="menu-city__item"><a href="#">Шарья</a></li>
    </ul>
  </div>
</div>