  <div class="modal" id="modal-complaint">
    <form action="#">
      <div class="modal-enter__buttons">
        <h2 class="modal__title">Пожаловаться</h2>
      </div>
      <div class="modal__wrapper">
        
        <p> Уважаемые читатели! Если вы считате, что размещенный контент пропагандирует употребление и распространение наркотиков, покупку или продажу оружия, призык к насилию и экстримизму, мошеничество, порнографию - вы можете направить свою жалобу - модератору Информационного портала "ГородКиров.RU"</p>
        <div>
          <textarea class="progect-textarea progect-textarea--message" placeholder="Напишите ваш текст" required=""></textarea>
        </div>
       
        <button type="submit" class="button button--dark modal--button">Отправить</button>
      </div>
    </form>
  </div>