@use "variables" as *;

/* latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300, 700; /* Перечисление весов через запятую */
  font-display: swap;
  src: url("../fonts/Montserrat-Latin.woff2") format("woff2"),
       url("../fonts/Montserrat.woff2") format("woff2"); /* Объединили источники */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2116,
                U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0301,
                U+0400-045F, U+0490-0491, U+04B0-04B1; /* Объединили диапазоны */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  color: $black;
  font-style: normal;
  background-color: $back;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto !important;
}

figure {
    margin: 0;
}

.container {
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.container--wide {
    padding: 0 20px;
}

// Ckeditor5
.text-tiny {
  font-size: 13px;
}

.text-small {
  font-size: 15px;
}

.text-big {
  font-size: 19px;
}

.text-huge {
  font-size: 21px;
}

@media (max-width: $tablet-width) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: $mobile-width) {
    .container {
        width: 100%;
        min-width: 320px;
        padding: 0 16px;
    }
}