// $back: #d7dadf;
$back: #f4f4f4;
$black: #000;

$grey: #2c3d52;
$grey-black: #2c3d52;
// $grey: #b1afc1;
// $grey-black: #959EA8;

$blue: #2C3D52;
 
$desktop-width: 1200px;
$tablet-width: 1024px;
$tablet-min-width: 1025px;
$tablet-width-portret: 768px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
